h1 {
    font-family: 'Montserrat';
    text-align: center;
}

.s1 {
    background: linear-gradient(90deg, rgba(62,53,213,1) 0%, rgba(37,37,214,1) 49%, rgba(0,212,255,1) 100%);
}

h1 {
    color: white;
}